<div class="container hide_form">
  <div class="col-md-8">
    <%= form_with(model: [ @post, @comment ]) do |form| %>
      <%= form.hidden_field :parent_id, value: @comment.parent_id %>
      <div class="form-group row">
        <div class="col-sm-2 actions" style="margin: 2% 0 0 2%; padding-bottom: 5%">
          <%= form.submit "Ответить",  class:"btn btn-outline-dark" %>
        </div>
        <%= form.text_area :body, class:"form-control col offset-1" %>
      </div>
    <% end %>
  </div>
</div>