<div class="new_comment_form coments" id="form_new">
  <%= form_with(model: [ @post, @post.comments.build ]) do |form| %>
    <%= form.hidden_field :parent_id %>
    <div class="form-group col-sm-7">
      <%= form.text_area :body, class:"form-control " %>
      <%= form.submit "Добавить комментарий", class:'btn btn-outline-dark' %>
    </div>

  <% end %>
</div>

